@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// body {
//   font-family: 'Open-Sans', sans-serif;
// }
svg {
  color: deepskyblue;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  background: deepskyblue;
  color: white;
  h2 {
      padding: 4px;
  }
}

.about {

    background: aliceblue;
    padding: 1px 5px;
    p {
      margin-top: 10px;
      margin-left: 10px;
    }
}

.info {
    background: greenyellow;
}


/*NAV*/
#nav-projects {
  li {
    padding: 15px 15px 15px 0px;

    a {
      color: black;
      text-decoration: none;
      padding: 15px 15px 15px 10px;
    }

    a:hover {
      background-color: cornflowerblue;
      cursor: pointer;
      color: black;
    }
  }
}

// --------------------------------
// Credentials
// --------------------------------
.Credentials {
  input[type='text'] {
    border: 2px solid #ddd;
    border-radius: 0;
    color: #999;
    display: block;
    font: 400 1em/1 "Open Sans",sans-serif;
    margin: 0 0 .5em;
    padding: 1em 1.25em;
    width: 95%;
    -webkit-transition: border-color 300ms,color 300ms;
    transition: border-color 300ms,color 300ms;
    -webkit-appearance: none;
  }
  button {
    margin-left: 5px;
    padding: 10px 20px 10px 20px;
    border: 2px solid deepskyblue;
    border-radius: 40px;
    background: transparent;
    color: deepskyblue;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    &:hover {
      background-color: deepskyblue;
      color: #fff;
    }
  }
}
.ViewTitle {
  margin-bottom: 10px;
  background: lightblue;
  display: inline-block;
  padding: 5px;
}
.SignUpView {
  margin-bottom: 10px;
}
.LoginView {
  margin-top: 10px;
  margin-bottom: 10px;
}

.BeerView {
  margin-top: 10px;
  table{
    margin-top: 15px;
    width: 100%;
    background: lightcyan;
    thead {
      background: deepskyblue;
      color:white;
      th {
        padding: 10px;
        //  cursor: pointer; cursor: hand;
        &:hover{
          // background-color: skyblue;
        }
      }
    }
    tbody {
      tr {
        text-align: center;
        &:hover {
            background: lightgreen;
        }
      }

    }
  }
}

// --------------------------------
// Hockey
// --------------------------------

.HockeyDataView {
  margin-top: 15px;
}

#hockey-table {
  width: 100%;
  background: lightcyan;
  thead {
    background: deepskyblue;
    color:white;
    th {
      padding: 10px;
       cursor: pointer; cursor: hand;
      &:hover{
        background-color: skyblue;
      }
    }
  }
  #hockey-table-body {
    tr {
      td {
        text-align: center;
      }

    }
    tr:hover {
      background-color: cornflowerblue;
    }
  }
}
